/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.w-video{
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}

.w-video-read{
    border: 2px solid var(--caret-color);
}



.w-card,
.w-tip{
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: relative;
    overflow: hidden;
    gap: 10px;
    cursor: default;
}

.w-card::before {
    content: "";
    height: 100px;
    width: 100px;
    position: absolute;
    top: -40%;
    left: -24%;
    border-radius: 50%;
    border: 35px solid rgba(255, 255, 255, 0.102);
    transition: all .8s ease;
    filter: blur(.5rem);
}


  
.w-card:hover::before {
    width: 140px;
    height: 140px;
    top: -30%;
    left: 60%;
    filter: blur(0rem);
}

.w-card .title,
.w-tip .title{
    flex-grow: 1;
    display: flex;
    font-weight: 900;
    font-size: 1.2em;
    align-items: center;
    gap: 10px;
}
  
.w-card .desc{
    font-weight: 300;
}

.w-tip{
    border: 1px solid var(--caret-color);
}

.w-banner{
    object-fit: cover;
    object-position: center;
    height: 250px;
    width: 100%;
    margin: 0px auto;
    /* ding wei */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* jian bian */
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    opacity: 0.6;
    border-radius: 0px !important;
}

.items-center{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

.gap{
    gap: 20px;
}

.gap-0{
    gap: 0px;
}

.w-br{
    border-radius: 6px;
}



.view-content{
    --wie-color:#333;
    --wie-desc:#999;
    --wie-background:#FFF;
}

.w-page-code{
    color: #333;
    cursor: default;

}

wie-area{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 15px;
    gap: 6px;
    color: var(--wie-color);
    background: var(--wie-background);
    /* background: var(--tab-container-background); */
}

wie-card{
    position: relative;
    background: var(--wie-background);
    border-radius: 8px;
    display: block;
    overflow: hidden;
}

wie-card-info{
    position: absolute;
    padding: 15px;
    left: 0;
    right: 0;
    bottom: 0;
}

.wie-img-mask{
    max-height: 800px;
    min-height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: top;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, rgba(0, 0, 0, 1)), color-stop(0.7, rgba(0, 0, 0, 0)));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), 50% rgba(0, 0, 0, 0));
}

wie-area svg{
    width: 20px;
    height: 20px;
}

wie-title{
    font-size: 1.5em;
    font-weight: 900;
    color: var(--wie-color);
}

wie-tag,
wie-tag-z{
    background: var(--wie-color);
    color: var(--wie-background);
    border-radius: 5px;
    padding: 2px 5px;
}

wie-tag-z{
    background: var(--wie-desc);
    padding: 1px 3px;
    font-size: 12px;
    border-radius: 2px;
}

wie-tag-z.false{
    display: none;
}

wie-item,
wie-item-title{
    display: flex;
    gap: 2px;
    align-items: center;
}

wie-item-title{
    gap: 10px;
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 10px;
}

wie-line,
wie-line-wrap{
    display: flex;
    align-items: center;
    gap: 10px;
}

w-name{
    font-weight: 700;
    color: var(--wie-desc);
}

wie-line-wrap{
    flex-wrap: wrap;
}
w-desc{
    color: var(--wie-desc);
}

wie-comment{
    display: flex;
    padding: 10px 0 5px;
    gap: 5px;
    flex-direction: column;
    border-bottom: 1px solid var(--wie-desc);
}


/* 链接相关 */
.wie-btn,
wie-btn{
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 5px;
    /* box-shadow: -2px -2px 4px rgb(240 240 240), 2px 2px 4px rgb(70 70 70 / 50%); */
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    font-size: 14px ;
    text-decoration: none;
    /* height: 20px;
    line-height: 20px; */
    font-weight: bold;
    padding: 0 5px;
    filter: drop-shadow(2px 4px 4px rgba(0,0,0,.02));
    border-radius: 3px; 
    color: var(--wie-color);
    fill: var(--wie-color) ;
    border:1px solid var(--wie-color);
}
.wie-btn>svg,
wie-btn>svg{
    width: 14px;
    height: 14px;
}
.wie-btn:before,
wie-btn:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 0;
    background: var(--wie-color);
    opacity: 0;
    z-index: -1;
    transition: all 0.3s;
}
   
.wie-btn:hover,
wie-btn:hover {
    color:var(--wie-background);
    fill: var(--wie-background);
}


.wie-btn:hover:before,
wie-btn:hover:before{
    left: 0;
    width: 100%;
    opacity: 1;
}

.wie-btn:active:before,
wie-btn:active:before {
    background: var(--wie-color);
    transition: all 0s;
}

wie-btn.w-tag,
.wie-btn.w-tag{
    padding-right: 0;
}
wie-btn.w-tag wie-tag,
.wie-btn.w-tag wie-tag{
    border-radius: 0;
}

wie-btn.loading svg{
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

wie-magnet{
   border: 1px solid var(--wie-color);
   border-radius: 8px;
   padding: 10px;
}

wie-avatar{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid var(--wie-color);
    box-sizing: border-box;
    display: block;
    float: left;
    margin-right: 10px;
}

wie-avatar img {
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    vertical-align: top;
}

wie-avatar img:hover {
    transform: scale(1.2);
}   


